* {
	box-sizing; border-box;
}

#app {
	color: #000;
	background-color: #f7fafe; /*45603b*/
	font-family: Roboto, Georgia, "Times New Roman";
	font-weight: 700;
	height: 100%;
	width: 100%;
	overflow: hidden;

}

.app__navbar {
	position: relative;
	
	height: 7%;
	width: 100%;

	max-height: 100px;
	
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: auto;
	text-align: center;

}

.app__navbar #togglebtn {
	position: fixed;
	top: 1em;
	left: 1em;
	padding: .5em;
}

.app__navbar .title {
	font-size: 2em;
	width: 100%;
}

#dropdown {
	position: fixed;
	top: 9%;

	height: 0%;
	width: 100%;

	opacity: 0;
	z-index: 1001;

	transition: height 1s, opacity 1s;
}

#dropdown.open {
	height: 35%;
	opacity: 1;
}

#dropdown ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f7fafe;
}

#dropdown li a {
    display: block;
    color: #000;
    padding: 12px 0 12px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#dropdown li a:hover {
    background-color: #555;
    color: white;
}

#map {
	height: 100%;
	width: 100%;
	position: relative;
}

#slideupBtn {
	display: inline-block;
	height: 7.5%;
	width: 100%;
	padding-top: 0.5%;

	position: fixed;
	bottom: 0%;

	background-color: #f7fafe;
	text-align: center;
	color: #000000;

	z-index: 1001;
}

#slideupBtn i {
	font-size: 2.5em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#slideupBtn span {
	margin-top: .5em;
	font-size: 1.8em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#trashReport {
	position: fixed;
	bottom: 6%;
	height: 0%;
	width: 100%;

	background-color: #f7fafe;
	opacity: 0;

	transition: height 1s, opacity 1s;

}

#trashReport.open {
	height: 30%;
	opacity: 1;
}

.trashForm {
	position: relative;
}

.trashForm .title {
	font-size: 1.6em;
	text-align: center;
}

.trashForm .form_titles{
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	display: block;
}

.trashForm div{
	text-align: center;
}

.trashForm textarea {
	resize: none;
	margin-bottom: 5px;
	width: 90%;
}