#app {
	color: #FFFFFF;
	background-color: #45603b;

}

.app__navbar {
	height: 7.5%;
	max-height: 100px;
	text-align: right;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: auto;

}

#map {
	height: 100%;
	width: 100%;
	position: relative;
}

#slideup {
	display: inline-block;
	height: 7.5%;
	width: 100%;

	position: absolute;
	bottom: 0px;

	background-color: #45603b;
	text-align: center;
	color: #000000;

	z-index: 1001;
}

.fa-caret-square-o-up {
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}